.purple {
	color: #d94fff;
}

.red {
	color: red;
}

.pink {
	color: #ff4fd9;
}

.gray {
	color: gray;
}

.google-blue {
	color: #4285F4;
}
.google-red {
	color: #DB4437;
}
.google-yellow {
	color: #F4B400;
}
.google-green {
	color: #0F9D58;
}
