blockquote > span {
	font-weight: bold;
}

/* Bus stop stranger, Uber driver, 911 call dispatcher */
blockquote.d2 {
	border-left-color: maroon;
}
blockquote.d2 > hr {
	border-color: maroon;
}

/* Luna */
blockquote.d3 {
	border-left-color: purple;
}
blockquote.d3 > hr {
	border-color: purple;
}

/* George */
blockquote.d4 {
	border-left-color: blue;
}
blockquote.d4 > hr {
	border-color: blue;
}

/* Grandmother */
blockquote.d5 {
	border-left-color: black;
}
blockquote.d5 > hr {
	border-color: black;
}
