/* True route init */
#b2-2 {
	background-color: maroon;
	border: 1px solid maroon;
	display: none;
}

/* Phone screen */
#t3-1, #t3-2 {
	text-align: center;
	background-color: black;
	color: white;
	padding-bottom: 0.7em;
	margin-bottom: 1em;
}
#t3-2 {
	padding-top: 0.7em;
}
#t3-1-1 {
	color: orange;
	font-size: 2em;
	margin: 0;
}
#t3-1-2 {
	margin: 0;
}
#t3-2-4 {
	margin: 0;
}

/* d1: Nicholas dialogue */
blockquote.d1 > span {
	font-weight: bold;
}

.purple {
	color: #d94fff;
}

.red {
	color: red;
}

.pink {
	color: #ff4fd9;
}
