#t0 {
	margin-bottom: 0 !important;
}

/* Phone screen */
#t3-1, #t3-2 {
	text-align: center;
	background-color: black;
	color: white;
	padding-bottom: 0.7em;
	margin-bottom: 1em;
}

#t3-2 {
	padding-top: 0.7em;
}

#t3-1-1 {
	color: orange;
	font-size: 2em;
	margin: 0;
}

#t3-1-2 {
	margin: 0;
}

#t3-2-4 {
	margin: 0;
}

#t4-1 {
	text-align: center;
	background-color: #fff6f6;
	padding: 0.5em;
	margin-bottom: 1em;
}

#t4-1 > h3 {
	color: maroon;
	margin: 0;
}

#t4-1 > p {
	color: #320000;
	margin: 0;
}

#t4-1-1 {
	text-align: center;
}

#t4-1-1-1 {
	margin-bottom: 0.5em;
}

#t4-1-1-2 {
	margin-top: 0;
	color: gray;
	font-size: 0.7em;
}

#t4-1-2 {
	font-size: 3em;
	text-align: center;
}

#t4-2-1 {
	text-align: center;
	background-color: black;
	color: white;
	padding: 0.01em;
	margin-bottom: 1em;
}

#t4-3-1 {
	background-color: #0F9D58;
	color: white;
	padding: 1em;
	margin-bottom: 1em;
}
